<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detectron2 Image Processing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Detectron2 Image Processing</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" accept="image/*">
        <input type="submit" value="Upload">
    </form>

    <div id="imageContainer">
        <h2>Input Image:</h2>
        <img id="inputImage" src="" alt="Input Image">
        <h2>Concatenated Image:</h2>
        <img id="concatenatedImage" src="" alt="Concatenated Image">
        <h2>Area Calculation:</h2>
        <p id="binArea">Bin Area (mm^2): </p>
        <p id="nbdArea">NBD Area (mm^2): </p>
        <p id="contaminationPercentage">Contamination Percentage: </p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
